<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("partials/nav.ejs") %> <%- include("partials/errors.ejs") %>
    <div class="form-container">
      <h1>Add Game</h1>
      <form action="/games/new" method="POST" class="form-style" enctype="multipart/form-data" >
        <div class="input-box">
          <label for="name">Game name:</label>
          <input type="text" name="name" id="name" />
        </div>

        <div class="input-box">
          <label for="developer">Game developer(s):</label>
          <input type="text" name="developer" id="developer">
        </div>
        
     
        <div class="check-boxes">
          <% categories.forEach((category) => {%>

            <div class="checkbox-wrapper">
              <input
                type="checkbox"
                id="category-<%= category.id %>"
                name="categories"
                value="<%= category.id %>"
              />
              <label for="category-<%= category.id %>">
                <%= category.name %>
              </label>
            </div>
            

          <% }) %>
        
        </div>
        <div class="input-box">
          <label for="release_date">Release date:</label>
          <input type="date" name="release_date" id="release_date" />
        </div>
        <div class="input-box">
          <label for="price">Price:</label>
          <input type="text" inputmode="numeric" name="price" id="price" />
        </div>

        <div class="input-box">
          <label for="rating">Rating:</label>
          <input
            type="text"
            inputmode="numeric"
            step="any"
            name="rating"
            id="rating"
          />
        </div>

        <div class="input-box">
          <label for="file">Game Banner Image:</label>
          <input type="file" name="game_file" id="file">
        </div>

        <div class="form-sub">
          <button id="submit-cat">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
