<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Games</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/nav.ejs") %>
  <h1>Games List</h1>
  <ul>
    <% games.forEach(game => { %>
      <li>
        <h2><%= game.name %></h2>
        <p>Release Date: <%= game.release_date %></p>
        <p>Price: <%= game.price %></p>
        <p>Rating: <%= game.rating %></p>
        <% if (game.game_image) { %>
          <img src="data:image/png;base64,<%= game.game_image.toString('base64') %>" alt="<%= game.name %>">
        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
